<!--{% load socialaccount %} -->


{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/login.css' %}">


</head>
<body>
	<div class="loginForm">
		<form method="POST" class="formelement">
			{% csrf_token %}
			{% for field in form %}
			<li class="item-login item-field">
			<span class="custom_label">{{field.label_tag}}</span> {{ field }}
			</li>
			{% endfor %}
			<li class="item-login inputs_fields">
				<input type="submit" name="Enter" class="le_btn">
			
				<small class="forgot_password_container" style="font-size:12px;"><a class="password-reset" href="{% url 'password-reset' %}">Forgot your Password ?</a></small>
			</li>
								
		</form>
		

	</div>
	<div class="registration_link">
		No Account? <a href="{% url 'User_app:registration' %}"> Create an account</a>
	</div>
	
</body>
</html>

{% endblock %}

