{% block content%}
{% load static %}
<head>

	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&display=swap" rel="stylesheet">


</head>

<body>

<div class="postscontainer">
	
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}

		<div class="card">
			
			<img src="{{ person.image.url }}" class="photocard">
			
			<div class="fields_block">

				<div><label class="fields_label">First Name </label><span>{{ person.user.first_name }}</span></div>
				<div><label class="fields_label">Last Name </label><span>{{ person.user.last_name }}</span></div>
				<div><label class="fields_label">Username </label><span>{{ person.user }}</span></div>
				<div><label class="fields_label">Email </label><span>{{ person.user.email }}</span></div>
			
			</div>
		
		</div>
			<div class="other_btn">
		
				<div class="Imagebtn">
								
					
					<div class="imageField">{{ form.image }}</div>
					<input type="submit" class="thebtn" name="update"></input>

				</div>
				<div class="other_link">
					<span>
					<a id="other_link1" href="{% url 'User_app:Change_password' %} ">Change your password</a>
			
					<a id="other_link2" href="{% url 'Post_app:list_post' %}">Voir les postes</a>
				</span>
				</div>
		
			</div>
	</form>
	

  </div>

  


</body>


{% endblock %}

