<!doctype html>

{% block content %}
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&display=swap" rel="stylesheet">

</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


</style>
<body>
  <div id="navbar" class="flex-container">
    <div id="navcontainer1">
      {% if user.is_authenticated %}
      <a href="{% url 'Post_app:list_post' %}"><img src="{% static 'images/Logo.jpg' %}" alt="logo"></a>
      {% else %}
      <a href="{% url 'User_app:login' %}"><img src="{% static 'images/Logo.jpg' %}" alt="logo"></a>
      {% endif %}
  </div>
    {% if user.is_authenticated %}
    <div class="navcontainerelem" id="containerprofile">
        
      <a href="{% url 'User_app:profile'%}">profile</a>
        
    </div>
    <div  class="navcontainerelem" id="containerlogout">
      <a href="{% url 'User_app:logout'%}">logout</a>
        
    </div>
    

    {% else %}
      <div class="navcontainerelem signupbtn" id="containersignup">
        <a class="nav-link" href="{% url 'User_app:registration' %}">Sign up </a>
      </div>
      <div class="navcontainerelem loginbtn">
        <a class="nav-link" href="{% url 'User_app:login' %}">Login</a>
      </div>
    {% endif %}


  </div>
  
  
<div class="main-home" >

  <div>
    <img src="{% static 'images/crayon.png' %}" alt="crayon">
    <div class="stepsentence">
      <p>Write your first post</p>
    </div>
  </div>
  <div>
    <img src="{% static 'images/marteau.png' %}" alt="marteau">
    <div class="stepsentence">
      <p>judge posts from other user</p>
    </div>
  </div>
  <div>
    <img src="{% static 'images/commentLogo.png' %}" alt="comment">
    <div class="stepsentence">
      <p>reacts to other posts by commenting</p>

    </div>
  </div>
</div>

 
</body>
{% endblock %}
</html>
