
	<!DOCTYPE html>
	{% load static %}
	<html>
	<head>
	<title>{% block title%}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&display=swap" rel="stylesheet">

</head>
	<body>
		<div id="navbar" class="flex-container">
			<div id="navcontainer1">
				{% if user.is_authenticated %}
				<a href="{% url 'Post_app:list_post' %}"><img src="{% static 'images/Logo.jpg' %}" alt="logo"></a>
				{% else %}
				<a href="{% url 'User_app:login' %}"><img src="{% static 'images/Logo.jpg' %}" alt="logo"></a>
				{% endif %}

			</div>
			<div id="navcontainer2" class="search">
				<form>
				<span class="searchbarspan"><input type="text" id="input_1" name="q" placeholder="Find a post..." >
				<button type="submit" id="btn_search"><img src="{% static 'images/buttonsearch.png' %}" alt="search button"></button>
				</span>

				</form>
			</div>
			{% if user.is_authenticated %}
			<div class="navcontainerelem" id="containerprofile">
					
				<a href="{% url 'User_app:profile'%}">profile</a>
					
			</div>
			<div  class="navcontainerelem" id="containerlogout">
				<a href="{% url 'User_app:logout'%}">logout</a>
					
			</div>
			

			{% else %}
				<div class="navcontainerelem signupbtn" id="containersignup">
					<a class="nav-link" href="{% url 'User_app:registration' %}">Sign up </a>
				</div>
				<div class="navcontainerelem loginbtn">
					<a class="nav-link" href="{% url 'User_app:login' %}">Login</a>
				</div>
			{% endif %}


		</div>
		<ul id="discuss_list">

		</ul>



<script>
	/*

	// navbar fixed to the top
	window.onscroll = function() {myFunction()};
	
	var navbar = document.getElementById("navbar");
	var sticky = navbar.offsetTop;
	
	function myFunction() {
	  if (window.pageYOffset >= sticky) {
		navbar.classList.add("sticky")
	  } else {
		navbar.classList.remove("sticky");
	  }
	}
	function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
	}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
*/
</script>


		<script>
			
			// get data for the navbar and display it 
			var input = document.getElementById("input_1");

			const fetchPromise = fetch('http://127.0.0.1:8000/api/posts.json');
			fetchPromise.then(response => {
			setTimeout(response, 2000);
			return response.json();
			}).then(posts => {
			var nbreChildren = 0;
			var inputValue;
			postsArray = getPosts(posts);
			console.log(postsArray);
			document.getElementById("input_1").addEventListener("keyup",event => { 
				//
				inputValue = getInputValue();
				filteredposts = showHint(inputValue.toLowerCase(), postsArray);
				//console.log(`list post filtered ${filteredposts}`)
				removeElement();
				createPosts(filteredposts, nbreChildren);

			});

			
			});
		function getInputValue(){
			
			var input = document.getElementById("input_1");
			var inputValue = input.value;
			
			return inputValue;
		}
		removeElement = () => {
					const myNode = document.getElementById("discuss_list");
					while (myNode.firstChild) {
						console.log(`${myNode.firstChild}`)
						myNode.removeChild(myNode.lastChild);
					}
			}
		
	
		function getPosts(posts){
			var posts_array = [];
	
			for (var i=0; i < posts.length;i++){
				post = posts[i]["title"];
				posts_array[i] = post;
	
			}
	
			return posts_array;
	
		}
	
		function createPosts(postsArray, nbreChildren){

			let orderlist = document.getElementById("discuss_list");
			for (var i=0; i<postsArray.length; i++){
				
				if (nbreChildren <= postsArray.length){
				
				var li = document.createElement('LI');
				li.innerHTML = ` <a><button>${postsArray[i]}</button></a>`;
				// set style
				li.style.font = "bold 20px lato,serif";
				li.style.width = "300px";
				li.style.textAlign = "center";
				li.style.backgroundColor = "white";
				li.style.paddingLeft = "-10px";
				li.style.marginBottom = "-10px";
				li.style.cursor = "pointer";
				// better to use CSS though - just set class
				li.setAttribute('class', `element-discussion_${nbreChildren}`); // and make sure myclass has some styles in css
				document.getElementById("discuss_list").appendChild(li);
				addEventli(li);
				nbreChildren++;
				
				}
			}
			
		}
		function addEventli(li){
			li.addEventListener("click", element => {
				changevalueInput(li);
				document.getElementById("btn_search").click();


			})
		}
		
		function showHint(str, posts) {
				
				var filtered_posts = [];
				if (str.length == 0) {
					filterd_posts = posts;
					return [];

				} 

				else {
						var index = 0;
						while (index < posts.length){

							var post = posts[index];
							if (post.startsWith(str.toLowerCase())){
								filtered_posts.push(post);
							
							}	
							index++;	
						}
						return filtered_posts;
					};
				}
		
		function changevalueInput(li){
			var input = document.getElementById("input_1");
			var value = document.querySelector(`.${li.className} > a`);
			input.value = value.text;
		}
				
		
	</script>
	

	{% block content %}



	{% endblock %}

</body>
</html>
